.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    
    .title {
        font-size: 28px;
        margin-bottom: 25px;
    }
    
    .preview {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; /* Allow items to wrap to the next row */
        gap: 30px;
        
    }
  }
  